.section-case-study-content .heading {
    margin-bottom: 35px;
    color: #4a4a4a;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
}

.section-case-study-content .body-text {
    margin-bottom: 35px;
    color: #4a4a4a;
    font-size: 18px;
    line-height: 24px;
}

.section-case-study-content .in-page-image {
    margin-bottom: 35px;
}

.section-content.on-dark-bg .heading,
.section-content.on-dark-bg .body-text {
    color: #e3e3e3 !important;
}
