// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) * 1px;
    font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

// Clearfix
// mixin for 'micro clearfix' https://css-tricks.com/snippets/css/clear-fix/
@mixin clearfix() {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
    width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Reset default button styles
@mixin button-reset {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
}
