// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) * 1px;
    font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

// Clearfix
@mixin clearfix() {
    display: table;
    table-layout: fixed;
    content: "";
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
    clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
    width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Reset default button styles
@mixin button-reset {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
}
