* {
  outline: 1px solid rgba(0,0,0,.02);
}

.row * { height: 100px; background: green; }
.sidebar { background: yellow; }
.sidebar .sidebar-content { margin-left: 20px; }
@media only screen and (max-width: $small) {
	.sidebar .sidebar-content { margin-left: 0; margin-top: 20px; }
}