body {
    min-width: 320px;
}


.section-content {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}



@media only screen and (max-width: 1068px) {
    .section-content {
        width: 692px;
    }
}

@media only screen and (max-width: 735px) {
    .section-content {
        width: 90%;
    }
}

button,
.button {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}


button,
button:focus,
button:active {
    border: 0 none;
    outline: 0 none;
    background: 0 0;
}

.button.more {
    display: block;
    font-size: 19px;
    line-height: 50px;
    height: 50px;
    width: 250px;
    text-align: center;
    white-space: nowrap;
}

@media only screen and (max-width: 1068px) {
    .button.more {
        font-size: 17px;
        line-height: 45px;
        width: 230px;
    }
}





.clearfix {
    @include clearfix();
}

.visually-hidden {
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;

    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
}







/*---------------------------------

BREADCRUMBS

----------------------------------*/

.breadcrumbs {
	background-color: #E8EBF2;
}

.breadcrumbs .breadcrumbs-list {
	display: block;
	width: 100%;
}

.breadcrumbs .breadcrumbs-list .breadcrumbs-item {
	display: inline-block;
	margin-right: 10px;
	padding: 13px 0;
	height: 24px;
	font-size: 16px;
	line-height: 24px;
}
.breadcrumbs .breadcrumbs-list .breadcrumbs-item:after {
	content: "";
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
	width: 5px;
	height: 5px;
	border: 1px solid #000;
	border-width: 1px 1px 0 0;
	transform: rotate(45deg) scale(1.3);
}

.breadcrumbs .breadcrumbs-list .breadcrumbs-item:last-child:after {
	display: none;
}

.breadcrumbs .breadcrumbs-list .breadcrumbs-item .breadcrumbs-link {

}

.breadcrumbs .breadcrumbs-list .breadcrumbs-item .breadcrumbs-link:hover {
	text-decoration: underline;
}


/*--------------------------------------

SECTION REGISTER

---------------------------------------*/


.section.section-register {
    background-color: #982d46;
}

.section.section-register .section-content {
    padding-top: 75px;
    padding-bottom: 75px;
}

.section.section-register .section-headline {
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	line-height: 42px;
	margin-bottom: 32px;
}

.section.section-register .button.more {
    display: inline-block;
    border: 2px solid #fff;
    color: #fff;
}
.section.section-register .description {
    display: inline;
    vertical-align: middle;
	color: #fff;
	font-size: 19px;
	line-height: 24px;
	margin-left: 30px;
}

.section.section-register .social {
    margin-top: 48px;
}

.section.section-register .social-headline {
    display: inline;
	color: #fff;
	font-size: 19px;
	line-height: 24px;
	font-weight: normal;
}

.section.section-register .social-list {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
}

.section.section-register .social-list .social-item {
    display: inline-block;
    margin-right: 25px;
}

.section.section-register .social-list .social-item .social-link {
    display: block;
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
    border-radius: 50%;
    overflow: hidden;
    text-indent: -999px;
}

@media only screen and (max-width: 1068px) {
    .section-register .social-icons .icon {
        width: 30px;
        height: 30px;
    }
}


.section.section-register .social-list .social-item .social-link.twitter {
    background-image: url("/wp-content/themes/jsarc/img/v/homepage/b/icon-twitter.png");
}

.section.section-register .social-list .social-item .social-link.youtube {
    background-image: url("/wp-content/themes/jsarc/img/v/homepage/b/icon-youtube.png");
}

.section.section-register .social-list .social-item .social-link.facebook {
    background-image: url("/wp-content/themes/jsarc/img/v/homepage/b/icon-facebook.png");
}


/*---------------------------------

FOOTER

----------------------------------*/
.section-footer {
    min-height: 100px !important;
    max-height: 310px !important;
    background-color: #e3e3e3;
}

@media only screen and (max-width: 1068px) {
    .section-footer {
        max-height: 380px !important;
    }
}

.section-footer .section-content {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    min-height: 308px;
    margin-right: auto;
    margin-left: auto;
    padding: 66px 50px;
    background-color: #e3e3e3;
}

@media only screen and (max-width: 1068px) {
    .section-footer .section-content {
        width: 90%;
        padding: 40px 0;
    }
}

.section-footer .menu-item {
    padding-right: 40px;
}



@media only screen and (max-width: 1068px) {
    .section-footer .menu-item {
        margin-bottom: 20px;
        padding-right: 10px;
        font-size: 17px;
        line-height: 24px;
        text-decoration: underline;
    }
}

.section-footer .text-link {
    display: inline-block;
    font-size: 14px;
    line-height: 31px;
}

.section-footer .text-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1068px) {
    .section-footer .text-link {
        font-size: 16px;
        line-height: 24px;
        /* text-decoration: underline; */
    }
}


.section-footer .organisation-logo {
    width: 187px;
    height: 80px;
    margin-top: 0;
    margin-bottom: 60px;
    margin-left: auto;
    background-image: url("img/v/generic/logos/a/home-office-logo.png");
    background-size: 100% auto;
}


@media only screen and (max-width: 735px) {
    .section-footer .organisation-logo {
        width: 120px;
        height: 51px;
        margin-top: 50px;
        margin-right: auto;
        margin-left: 0;
    }
}

.section-footer .copyright {
    float: right;
    font-size: 14px;
    text-align: right;
}

@media only screen and (max-width: 735px) {
    .section-footer .copyright {
        float: none;
    }
}
