/*--------------------------------------------------------------
# button
--------------------------------------------------------------*/
button {
    overflow: visible;
    box-sizing: content-box;
    border: 0;
    color: inherit;
    background: none;
    font: inherit;
    line-height: inherit;
    vertical-align: inherit;
    cursor: pointer;
}
button:disabled {
    cursor: default;
}

button,
input[type="submit"],
input[type="button"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: 0;
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: inherit;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
}

button,
input[type="submit"],
input[type="button"] {
    display: inline-block;
    height: 2em;
    padding: 0 2em;
    color: #fff;
    background-color: #000;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    line-height: 2em;
}



button:active,
button:focus,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="button"]:active,
input[type="button"]:focus {
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}



/**
  * Button component
  */
.button {
    @include button-reset();

    display: inline-block;
    margin: 2px 0;
    padding: 0.5em 1em;
    border: solid 1px transparent;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.button:active {
    transform: translateY(1px);

    filter: saturate(150%);
}

.button:hover {
    border-color: currentColor;
    color: #000;
    background-color: rgba(255,255,255,0.2);
    transition: all 0.25s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.button::-moz-focus-inner {
    border: none;
}

.button:focus {
    outline: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.js-focus-visible .button:focus:not(.focus-visible) {
    box-shadow: none;
}


// button mobile styles
@media only screen and (max-width: $small) {
    .button.button-cta-outlined {
        width: 100%;
    }
}



/*--------------------------------------------------------------
# Outlined call-to-action buttons
--------------------------------------------------------------*/
.button.button-cta-outlined,
button.button-cta-outlined {
    display: inline-block;
    min-width: 238px;
    margin: 2px 0;
    padding: 5px 30px;
    padding: 0.5em 1em;
    border: 2px solid #fff;
    color: #fff;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}
