// JSaRC Brand Colours
$color__jsarc-primary-blue: #1d4189;
$color__jsarc-primary-red: #d8262e;
$color__jsarc-teal: #0594a6;
$color__jsarc-light-blue: #06a6e0;
$color__jsarc-purple: #972d45;
$color__jsarc-light-green: #95ccaa;
