// JSaRC Brand Colours
$color-jsarc-primary-blue: #1d4189;
$color-jsarc-primary-red: #d8262e;
$color-jsarc-teal: #0594a6;
$color-jsarc-light-blue: #06a6e0;
$color-jsarc-purple: #972d45;
$color-jsarc-light-green: #95ccaa;
