// reusable variables -- may want to move to project settings.sass file


$jsarc__animation-easing: cubic-bezier(0, 0, 0.2, 1);
$jsarc__animation-timing: 0.25s;
$jsarc__default-transition: all $jsarc__animation-timing $jsarc__animation-easing;


/*--------------------------------------------------------------
# Select
--------------------------------------------------------------*/

.select-wrap {
    display: inline;
    display: inline-block;
    position: relative;
    border: 0.1em solid #000;
    background-color: #fff;
    &:after {
        display: block;
        position: absolute;
        z-index: 1;
        bottom: 0;
        margin: auto;
        border-style: solid;
        content: "";
        -webkit-transform: rotate(45deg) skew(-2deg, -2deg);
        transform: rotate(45deg) skew(-2deg, -2deg);
        pointer-events: none;
    }
    select {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        border: none;
        outline: 0;
        background: 0 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: inherit;
        text-overflow: "";
        cursor: pointer;

        -webkit-appearance: none;
        -moz-appearance: none;
    }
    &:after {
        top: -5px;
        right: 10px;
        width: 8px;
        height: 8px;
        border-width: 0 0.119em 0.119em 0;
        border-color: #000;
    }
    select {
        padding: 5px 30px 5px 5px;
        line-height: 1.3em;
    }
}

/*--------------------------------------------------------------
# Checkbox
--------------------------------------------------------------*/

input[type="checkbox"] {
    display: inline-block;
    position: relative;
    margin-right: 1.5em;
    vertical-align: middle;

    -webkit-appearance: none;
    -moz-appearance: none;
    &:before {
        display: block;
        position: absolute;
        content: "";
    }
    &:checked:after {
        display: block;
        position: absolute;
        border-style: solid;
        content: "";
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &:before {
        top: -0.66em;
        width: 1em;
        height: 1em;
        border: 0.1em solid #000;
        background-color: #fff;
    }
    &:checked:after {
        top: -0.5em;
        left: 0.38em;
        width: 0.28em;
        height: 0.6em;
        border-width: 0 0.15em 0.15em 0;
        border-color: #000;
    }
}

/*--------------------------------------------------------------
# Input text, textarea
--------------------------------------------------------------*/

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: 0;
    background: 0 0;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: inherit;

    -webkit-appearance: none;
    -moz-appearance: none;
}


input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    box-sizing: border-box;
    min-width: 250px;
    max-width: 100%;
    padding: 5px;
    border: 0.1em solid #000;
    line-height: 1.3em;
}



/*--------------------------------------------------------------
# Salesforce form
--------------------------------------------------------------*/

.sf_field {
    margin-bottom: 0.5em;
}

.w2llabel {
    display: block;
    font-size: 0.8em;
    font-weight: bold;
}

.error_message {
    display: block;
    color: red;
    font-size: 0.8em;
}

.w2lsubmit {
    margin: 2em 0 1.5em;
}

.sf_required_fields_msg {
    font-size: 0.8em;
}

/*--------------------------------------------------------------
# Salesforce Test Page
--------------------------------------------------------------*/

.section.section-form {
    padding-top: 100px;
    padding-bottom: 100px;
}



/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.section {
    // box-sizing: border-box;
    // max-width: 1200px;
    // min-height: 400px;
    // margin-right: auto;
    // margin-left: auto;
    // padding-top: 100px;
    // padding-right: 50px;
    // padding-bottom: 100px;
    // padding-left: 50px;
}

.section-background-image {
    // position: absolute;
    // z-index: $bg;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background-image: url("./img/pilot-scheme-cta-background.png");
    // background-size: cover;
}

.-gradient-right {
    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.6;
        background-image: linear-gradient(to bottom right,#333,#000);
        content: "";
    }
}

.section-content {
    @include clearfix();

    z-index: $content;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.section-headline {
    margin-bottom: 60px;
}
.section-benefits {
    text-align: center;
    h2 {
        font-size: 36px;
        line-height: 42px;
    }
    .column {
        margin-bottom: 50px;
        text-align: center;
    }
}

.image-benefits {
    max-width: 300px;
    height: 190px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    background-color: $color__jsarc-purple;
}


.section-pilot-scheme {
    position: relative;
    background-color: #4a4a4a;

    h2 {
        margin-bottom: 100px;
        color: #fff;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 42px;
    }
    .column {
        margin-bottom: 30px;
        margin-left: 25px;
    }
}

.section-projects {
    padding-top: 50px;
    h2 {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }
}


/*--------------------------------------------------------------
# Tiles
--------------------------------------------------------------*/
.tile {
    @include clearfix();

    display: block;
    min-width: 400px;
    margin-bottom: 50px;
    padding: 0;
    padding-left: 50px;
    cursor: pointer;
}

@media only screen and (max-width: $small) {
    .tile {
        min-width: 300px;
        margin-left: 0;
    }
}
.tile:hover {
    .projects-headline {
        text-decoration: underline;
    }
    .image-projects:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.4;
        background-image: linear-gradient(to bottom right,#666, #000);
        content: "";
        transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
    }
}

.section-register {
    color: white;
    background-color: $color__jsarc-purple;
    h2,
    h3,
    p {
        color: white;
    }
}

.register__form {
    input {
        display: inline-block;
        font-size: 19px;
        line-height: 42px;
    }

    .register__label {
        font-size: 19px;
        line-height: 42px;
        transition: $jsarc__default-transition;
    }

    .register__input-email {
        min-width: 300px;
        border: 0;
        border-bottom: solid 2px white;
        color: white;
        background-color: transparent;
    }


    .register__input-email:focus {
        background-color: rgba(255,255,255,0.2);
    }

    // styles for floating input
    // TODO: refactor to generic floating input styles to allow re-use
    .register__input-email:focus + .register__label,
    .register__input-email:valid + .register__label {
        text-align: left;
        transition: $jsarc__default-transition;
        -webkit-transform: translateY(-80%) translateX(-10%) scale(0.75, 0.75);
        transform: translateY(-80%) translateX(-10%) scale(0.75, 0.75);
    }

    .register__submit-button {
        height: 54px;
        border-bottom: solid 2px transparent;
        color: transparent;
        background-color: transparent;
        background-image: url("./img/icons/arrow-right-white.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px 40px;
    }

    .register__submit-button:hover,
    .register__submit-button:focus {
        background-color: rgba(255,255,255,0.2);
        transition: $jsarc__default-transition;
    }
    .register__submit-button:active {
        background-position: 60% center;
        transition: $jsarc__default-transition;
    }
}


// Floating input styles
.floating-label-input {
    position: relative;
}
.floating-label-input label {
    position: absolute;
    left: 0;
}

.heading-register-email {
    font-size: 30px;
    font-style: oblique;
    line-height: 42px;
}

.heading-stay-connected {
    font-size: 24px;
    font-style: oblique;
    line-height: 42px;
}

.projects-headline {
    margin-bottom: 12px;
    color: $color__jsarc-purple;
    font-size: 24px;
    line-height: 24px;
}

.projects-intro {
    font-size: 19px;
    line-height: 24px;
}

.image-projects {
    overflow: hidden;
    position: relative;
    max-width: 400px;
    height: 225px;
    margin-bottom: 30px;
    background-image: url("./img/placeholder-thumbnail.png");
    background-size: cover;
    transition: $jsarc__default-transition;
    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-image: linear-gradient(to bottom right,#f5f5f5,#000);
        content: "";
        transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
    }
}

/*--------------------------------------------------------------
# Social Icons
--------------------------------------------------------------*/
.social-icons li {
    display: inline-block;
    margin-right: 20px;
    text-align: center;

    a {
        display: inline-block;
        width: 44px;
        height: 44px;
        border: solid 2px white;
        border-radius: 50%;
        background-color: white;
        line-height: 42px;
    }
    a:hover {
        border: solid 2px white;
        color: white;
        background-color: $color__jsarc-purple;
        transition: all 0.25s cubic-bezier(0.0, 0.0, 0.2, 1);
        i {
            color: white;
        }
    }

    i {
        color: $color__jsarc-purple;
    }
}

.social-icons li:not(:first-child) {
    margin-left: 20px;
}
