#menuanchor {
  display: none;
  position: relative;
  width: 30px;
  height: 1px;
}

#menuanchor:before,
#menuanchor:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
}


#menuanchor,
#menuanchor:before,
#menuanchor:after {
	background-color: green;
}


#primary-menu {
  position: relative;
  ul {
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
      margin-right: 20px;
      a {
        display: block;
        padding: 5px 10px;
		background-color: $color__jsarc-primary-blue;
		color: #fff;
      }
    }
  }
}

@media only screen and (max-width: $small) {
  #primary-menu ul li {
    display: block;
    margin-right: 0;
  }
  #menuanchor {
	  display: block;
	}
}