// Example Z-index scale
$bg: 0;
$above-bg: 5;
$content: 10;
$above-content: 15;
$popup: 20;
$modal: 25;
$above-modal: 30;
$above-all: 35;



// animations
$jsarc__animation-easing: cubic-bezier(0, 0, 0.2, 1);
$jsarc__animation-timing: 0.25s;
$jsarc__default-transition: all $jsarc__animation-timing $jsarc__animation-easing;
