body,
input,
textarea,
select,
button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;

    font-synthesis: none;
    -moz-font-feature-settings: "kern";
    direction: ltr;
}



body,
button,
input,
select,
optgroup,
textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
}

body {
    min-width: 320px;
    color: #0b0c0c;
}

h1,
h2,
h3 {
    font-weight: 400;
}

ul {
    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}

ol {
    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}



/*--------------------------------------------------------------
# Typography utility classes
--------------------------------------------------------------*/

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
