body,
button,
input,
select,
optgroup,
textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-weight: 400;
}

ul {
    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}

ol {
    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}



/*--------------------------------------------------------------
# Typography utility classes
--------------------------------------------------------------*/

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
