/*------------------------------------

Grid

------------------------------------*/

.row {
    position: relative;
    z-index: 1;
}

.row::before,
.row::after {
    display: table;
    content: " ";;
}

.row::after {
    clear: both;
}

.column {
    float: left;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 2px;
    margin: 0;
    padding: 0;
}

.large-offset-0 {
    margin-left: 0;
}

.large-push-0 {
    right: auto;
    left: auto;;
}

.large-pull-0 {
    right: auto;
    left: auto;
}

.large-1 {
    width: 8.33333%;
}

.large-offset-1 {
    margin-left: 8.33333%;
}

.large-push-1 {
    right: auto;
    left: 8.33333%;;
}

.large-pull-1 {
    right: 8.33333%;
    left: auto;
}

.large-2 {
    width: 16.66667%;
}

.large-offset-2 {
    margin-left: 16.66667%;
}

.large-push-2 {
    right: auto;
    left: 16.66667%;;
}

.large-pull-2 {
    right: 16.66667%;
    left: auto;
}

.large-3 {
    width: 25%;
}

.large-offset-3 {
    margin-left: 25%;
}

.large-push-3 {
    right: auto;
    left: 25%;;
}

.large-pull-3 {
    right: 25%;
    left: auto;
}

.large-4 {
    width: 33.33333%;
}

.large-offset-4 {
    margin-left: 33.33333%;
}

.large-push-4 {
    right: auto;
    left: 33.33333%;;
}

.large-pull-4 {
    right: 33.33333%;
    left: auto;
}

.large-5 {
    width: 41.66667%;
}

.large-offset-5 {
    margin-left: 41.66667%;
}

.large-push-5 {
    right: auto;
    left: 41.66667%;;
}

.large-pull-5 {
    right: 41.66667%;
    left: auto;
}

.large-6 {
    width: 50%;
}

.large-offset-6 {
    margin-left: 50%;
}

.large-push-6 {
    right: auto;
    left: 50%;;
}

.large-pull-6 {
    right: 50%;
    left: auto;
}

.large-7 {
    width: 58.33333%;
}

.large-offset-7 {
    margin-left: 58.33333%;
}

.large-push-7 {
    right: auto;
    left: 58.33333%;;
}

.large-pull-7 {
    right: 58.33333%;
    left: auto;
}

.large-8 {
    width: 66.66667%;
}

.large-offset-8 {
    margin-left: 66.66667%;
}

.large-push-8 {
    right: auto;
    left: 66.66667%;;
}

.large-pull-8 {
    right: 66.66667%;
    left: auto;
}

.large-9 {
    width: 75%;
}

.large-offset-9 {
    margin-left: 75%;
}

.large-push-9 {
    right: auto;
    left: 75%;;
}

.large-pull-9 {
    right: 75%;
    left: auto;
}

.large-10 {
    width: 83.33333%;
}

.large-offset-10 {
    margin-left: 83.33333%;
}

.large-push-10 {
    right: auto;
    left: 83.33333%;;
}

.large-pull-10 {
    right: 83.33333%;
    left: auto;
}

.large-11 {
    width: 91.66667%;
}

.large-offset-11 {
    margin-left: 91.66667%;
}

.large-push-11 {
    right: auto;
    left: 91.66667%;;
}

.large-pull-11 {
    right: 91.66667%;
    left: auto;
}

.large-12 {
    width: 100%;
}

.large-offset-12 {
    margin-left: 100%;
}

.large-push-12 {
    right: auto;
    left: 100%;;
}

.large-pull-12 {
    right: 100%;
    left: auto;
}

.large-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;;
}

.large-uncentered {
    margin-right: 0;
    margin-left: 0;;
}

.large-last {
    float: right;
}

.large-notlast {
    float: left;
}

@media only screen and (min-width: 1800px) {
    .xlarge-offset-0 {
        margin-left: 0;
    }

    .xlarge-push-0 {
        right: auto;
        left: auto;;
    }

    .xlarge-pull-0 {
        right: auto;
        left: auto;
    }

    .xlarge-1 {
        width: 8.33333%;
    }

    .xlarge-offset-1 {
        margin-left: 8.33333%;
    }

    .xlarge-push-1 {
        right: auto;
        left: 8.33333%;;
    }

    .xlarge-pull-1 {
        right: 8.33333%;
        left: auto;
    }

    .xlarge-2 {
        width: 16.66667%;
    }

    .xlarge-offset-2 {
        margin-left: 16.66667%;
    }

    .xlarge-push-2 {
        right: auto;
        left: 16.66667%;;
    }

    .xlarge-pull-2 {
        right: 16.66667%;
        left: auto;
    }

    .xlarge-3 {
        width: 25%;
    }

    .xlarge-offset-3 {
        margin-left: 25%;
    }

    .xlarge-push-3 {
        right: auto;
        left: 25%;;
    }

    .xlarge-pull-3 {
        right: 25%;
        left: auto;
    }

    .xlarge-4 {
        width: 33.33333%;
    }

    .xlarge-offset-4 {
        margin-left: 33.33333%;
    }

    .xlarge-push-4 {
        right: auto;
        left: 33.33333%;;
    }

    .xlarge-pull-4 {
        right: 33.33333%;
        left: auto;
    }

    .xlarge-5 {
        width: 41.66667%;
    }

    .xlarge-offset-5 {
        margin-left: 41.66667%;
    }

    .xlarge-push-5 {
        right: auto;
        left: 41.66667%;;
    }

    .xlarge-pull-5 {
        right: 41.66667%;
        left: auto;
    }

    .xlarge-6 {
        width: 50%;
    }

    .xlarge-offset-6 {
        margin-left: 50%;
    }

    .xlarge-push-6 {
        right: auto;
        left: 50%;;
    }

    .xlarge-pull-6 {
        right: 50%;
        left: auto;
    }

    .xlarge-7 {
        width: 58.33333%;
    }

    .xlarge-offset-7 {
        margin-left: 58.33333%;
    }

    .xlarge-push-7 {
        right: auto;
        left: 58.33333%;;
    }

    .xlarge-pull-7 {
        right: 58.33333%;
        left: auto;
    }

    .xlarge-8 {
        width: 66.66667%;
    }

    .xlarge-offset-8 {
        margin-left: 66.66667%;
    }

    .xlarge-push-8 {
        right: auto;
        left: 66.66667%;;
    }

    .xlarge-pull-8 {
        right: 66.66667%;
        left: auto;
    }

    .xlarge-9 {
        width: 75%;
    }

    .xlarge-offset-9 {
        margin-left: 75%;
    }

    .xlarge-push-9 {
        right: auto;
        left: 75%;;
    }

    .xlarge-pull-9 {
        right: 75%;
        left: auto;
    }

    .xlarge-10 {
        width: 83.33333%;
    }

    .xlarge-offset-10 {
        margin-left: 83.33333%;
    }

    .xlarge-push-10 {
        right: auto;
        left: 83.33333%;;
    }

    .xlarge-pull-10 {
        right: 83.33333%;
        left: auto;
    }

    .xlarge-11 {
        width: 91.66667%;
    }

    .xlarge-offset-11 {
        margin-left: 91.66667%;
    }

    .xlarge-push-11 {
        right: auto;
        left: 91.66667%;;
    }

    .xlarge-pull-11 {
        right: 91.66667%;
        left: auto;
    }

    .xlarge-12 {
        width: 100%;
    }

    .xlarge-offset-12 {
        margin-left: 100%;
    }

    .xlarge-push-12 {
        right: auto;
        left: 100%;;
    }

    .xlarge-pull-12 {
        right: 100%;
        left: auto;
    }

    .xlarge-centered {
        float: none;
        margin-right: auto;
        margin-left: auto;;
    }

    .xlarge-uncentered {
        margin-right: 0;
        margin-left: 0;;
    }

    .xlarge-last {
        float: right;
    }

    .xlarge-notlast {
        float: left;
    }
}

@media only screen and (max-width: 1068px) {
    .medium-offset-0 {
        margin-left: 0;
    }

    .medium-push-0 {
        right: auto;
        left: auto;;
    }

    .medium-pull-0 {
        right: auto;
        left: auto;
    }

    .medium-1 {
        width: 8.33333%;
    }

    .medium-offset-1 {
        margin-left: 8.33333%;
    }

    .medium-push-1 {
        right: auto;
        left: 8.33333%;;
    }

    .medium-pull-1 {
        right: 8.33333%;
        left: auto;
    }

    .medium-2 {
        width: 16.66667%;
    }

    .medium-offset-2 {
        margin-left: 16.66667%;
    }

    .medium-push-2 {
        right: auto;
        left: 16.66667%;;
    }

    .medium-pull-2 {
        right: 16.66667%;
        left: auto;
    }

    .medium-3 {
        width: 25%;
    }

    .medium-offset-3 {
        margin-left: 25%;
    }

    .medium-push-3 {
        right: auto;
        left: 25%;;
    }

    .medium-pull-3 {
        right: 25%;
        left: auto;
    }

    .medium-4 {
        width: 33.33333%;
    }

    .medium-offset-4 {
        margin-left: 33.33333%;
    }

    .medium-push-4 {
        right: auto;
        left: 33.33333%;;
    }

    .medium-pull-4 {
        right: 33.33333%;
        left: auto;
    }

    .medium-5 {
        width: 41.66667%;
    }

    .medium-offset-5 {
        margin-left: 41.66667%;
    }

    .medium-push-5 {
        right: auto;
        left: 41.66667%;;
    }

    .medium-pull-5 {
        right: 41.66667%;
        left: auto;
    }

    .medium-6 {
        width: 50%;
    }

    .medium-offset-6 {
        margin-left: 50%;
    }

    .medium-push-6 {
        right: auto;
        left: 50%;;
    }

    .medium-pull-6 {
        right: 50%;
        left: auto;
    }

    .medium-7 {
        width: 58.33333%;
    }

    .medium-offset-7 {
        margin-left: 58.33333%;
    }

    .medium-push-7 {
        right: auto;
        left: 58.33333%;;
    }

    .medium-pull-7 {
        right: 58.33333%;
        left: auto;
    }

    .medium-8 {
        width: 66.66667%;
    }

    .medium-offset-8 {
        margin-left: 66.66667%;
    }

    .medium-push-8 {
        right: auto;
        left: 66.66667%;;
    }

    .medium-pull-8 {
        right: 66.66667%;
        left: auto;
    }

    .medium-9 {
        width: 75%;
    }

    .medium-offset-9 {
        margin-left: 75%;
    }

    .medium-push-9 {
        right: auto;
        left: 75%;;
    }

    .medium-pull-9 {
        right: 75%;
        left: auto;
    }

    .medium-10 {
        width: 83.33333%;
    }

    .medium-offset-10 {
        margin-left: 83.33333%;
    }

    .medium-push-10 {
        right: auto;
        left: 83.33333%;;
    }

    .medium-pull-10 {
        right: 83.33333%;
        left: auto;
    }

    .medium-11 {
        width: 91.66667%;
    }

    .medium-offset-11 {
        margin-left: 91.66667%;
    }

    .medium-push-11 {
        right: auto;
        left: 91.66667%;;
    }

    .medium-pull-11 {
        right: 91.66667%;
        left: auto;
    }

    .medium-12 {
        width: 100%;
    }

    .medium-offset-12 {
        margin-left: 100%;
    }

    .medium-push-12 {
        right: auto;
        left: 100%;;
    }

    .medium-pull-12 {
        right: 100%;
        left: auto;
    }

    .medium-centered {
        float: none;
        margin-right: auto;
        margin-left: auto;;
    }

    .medium-uncentered {
        margin-right: 0;
        margin-left: 0;;
    }

    .medium-last {
        float: right;
    }

    .medium-notlast {
        float: left;
    }
}

@media only screen and (max-width: 735px) {
    .small-offset-0 {
        margin-left: 0;
    }

    .small-push-0 {
        right: auto;
        left: auto;;
    }

    .small-pull-0 {
        right: auto;
        left: auto;
    }

    .small-1 {
        width: 8.33333%;
    }

    .small-offset-1 {
        margin-left: 8.33333%;
    }

    .small-push-1 {
        right: auto;
        left: 8.33333%;;
    }

    .small-pull-1 {
        right: 8.33333%;
        left: auto;
    }

    .small-2 {
        width: 16.66667%;
    }

    .small-offset-2 {
        margin-left: 16.66667%;
    }

    .small-push-2 {
        right: auto;
        left: 16.66667%;;
    }

    .small-pull-2 {
        right: 16.66667%;
        left: auto;
    }

    .small-3 {
        width: 25%;
    }

    .small-offset-3 {
        margin-left: 25%;
    }

    .small-push-3 {
        right: auto;
        left: 25%;;
    }

    .small-pull-3 {
        right: 25%;
        left: auto;
    }

    .small-4 {
        width: 33.33333%;
    }

    .small-offset-4 {
        margin-left: 33.33333%;
    }

    .small-push-4 {
        right: auto;
        left: 33.33333%;;
    }

    .small-pull-4 {
        right: 33.33333%;
        left: auto;
    }

    .small-5 {
        width: 41.66667%;
    }

    .small-offset-5 {
        margin-left: 41.66667%;
    }

    .small-push-5 {
        right: auto;
        left: 41.66667%;;
    }

    .small-pull-5 {
        right: 41.66667%;
        left: auto;
    }

    .small-6 {
        width: 50%;
    }

    .small-offset-6 {
        margin-left: 50%;
    }

    .small-push-6 {
        right: auto;
        left: 50%;;
    }

    .small-pull-6 {
        right: 50%;
        left: auto;
    }

    .small-7 {
        width: 58.33333%;
    }

    .small-offset-7 {
        margin-left: 58.33333%;
    }

    .small-push-7 {
        right: auto;
        left: 58.33333%;;
    }

    .small-pull-7 {
        right: 58.33333%;
        left: auto;
    }

    .small-8 {
        width: 66.66667%;
    }

    .small-offset-8 {
        margin-left: 66.66667%;
    }

    .small-push-8 {
        right: auto;
        left: 66.66667%;;
    }

    .small-pull-8 {
        right: 66.66667%;
        left: auto;
    }

    .small-9 {
        width: 75%;
    }

    .small-offset-9 {
        margin-left: 75%;
    }

    .small-push-9 {
        right: auto;
        left: 75%;;
    }

    .small-pull-9 {
        right: 75%;
        left: auto;
    }

    .small-10 {
        width: 83.33333%;
    }

    .small-offset-10 {
        margin-left: 83.33333%;
    }

    .small-push-10 {
        right: auto;
        left: 83.33333%;;
    }

    .small-pull-10 {
        right: 83.33333%;
        left: auto;
    }

    .small-11 {
        width: 91.66667%;
    }

    .small-offset-11 {
        margin-left: 91.66667%;
    }

    .small-push-11 {
        right: auto;
        left: 91.66667%;;
    }

    .small-pull-11 {
        right: 91.66667%;
        left: auto;
    }

    .small-12 {
        width: 100%;
    }

    .small-offset-12 {
        margin-left: 100%;
    }

    .small-push-12 {
        right: auto;
        left: 100%;;
    }

    .small-pull-12 {
        right: 100%;
        left: auto;
    }

    .small-centered {
        float: none;
        margin-right: auto;
        margin-left: auto;;
    }

    .small-uncentered {
        margin-right: 0;
        margin-left: 0;;
    }

    .small-last {
        float: right;
    }

    .small-notlast {
        float: left;
    }
}

@media only screen and (max-width: 320px) {
    .xsmall-offset-0 {
        margin-left: 0;
    }

    .xsmall-push-0 {
        right: auto;
        left: auto;;
    }

    .xsmall-pull-0 {
        right: auto;
        left: auto;
    }

    .xsmall-1 {
        width: 8.33333%;
    }

    .xsmall-offset-1 {
        margin-left: 8.33333%;
    }

    .xsmall-push-1 {
        right: auto;
        left: 8.33333%;;
    }

    .xsmall-pull-1 {
        right: 8.33333%;
        left: auto;
    }

    .xsmall-2 {
        width: 16.66667%;
    }

    .xsmall-offset-2 {
        margin-left: 16.66667%;
    }

    .xsmall-push-2 {
        right: auto;
        left: 16.66667%;;
    }

    .xsmall-pull-2 {
        right: 16.66667%;
        left: auto;
    }

    .xsmall-3 {
        width: 25%;
    }

    .xsmall-offset-3 {
        margin-left: 25%;
    }

    .xsmall-push-3 {
        right: auto;
        left: 25%;;
    }

    .xsmall-pull-3 {
        right: 25%;
        left: auto;
    }

    .xsmall-4 {
        width: 33.33333%;
    }

    .xsmall-offset-4 {
        margin-left: 33.33333%;
    }

    .xsmall-push-4 {
        right: auto;
        left: 33.33333%;;
    }

    .xsmall-pull-4 {
        right: 33.33333%;
        left: auto;
    }

    .xsmall-5 {
        width: 41.66667%;
    }

    .xsmall-offset-5 {
        margin-left: 41.66667%;
    }

    .xsmall-push-5 {
        right: auto;
        left: 41.66667%;;
    }

    .xsmall-pull-5 {
        right: 41.66667%;
        left: auto;
    }

    .xsmall-6 {
        width: 50%;
    }

    .xsmall-offset-6 {
        margin-left: 50%;
    }

    .xsmall-push-6 {
        right: auto;
        left: 50%;;
    }

    .xsmall-pull-6 {
        right: 50%;
        left: auto;
    }

    .xsmall-7 {
        width: 58.33333%;
    }

    .xsmall-offset-7 {
        margin-left: 58.33333%;
    }

    .xsmall-push-7 {
        right: auto;
        left: 58.33333%;;
    }

    .xsmall-pull-7 {
        right: 58.33333%;
        left: auto;
    }

    .xsmall-8 {
        width: 66.66667%;
    }

    .xsmall-offset-8 {
        margin-left: 66.66667%;
    }

    .xsmall-push-8 {
        right: auto;
        left: 66.66667%;;
    }

    .xsmall-pull-8 {
        right: 66.66667%;
        left: auto;
    }

    .xsmall-9 {
        width: 75%;
    }

    .xsmall-offset-9 {
        margin-left: 75%;
    }

    .xsmall-push-9 {
        right: auto;
        left: 75%;;
    }

    .xsmall-pull-9 {
        right: 75%;
        left: auto;
    }

    .xsmall-10 {
        width: 83.33333%;
    }

    .xsmall-offset-10 {
        margin-left: 83.33333%;
    }

    .xsmall-push-10 {
        right: auto;
        left: 83.33333%;;
    }

    .xsmall-pull-10 {
        right: 83.33333%;
        left: auto;
    }

    .xsmall-11 {
        width: 91.66667%;
    }

    .xsmall-offset-11 {
        margin-left: 91.66667%;
    }

    .xsmall-push-11 {
        right: auto;
        left: 91.66667%;;
    }

    .xsmall-pull-11 {
        right: 91.66667%;
        left: auto;
    }

    .xsmall-12 {
        width: 100%;
    }

    .xsmall-offset-12 {
        margin-left: 100%;
    }

    .xsmall-push-12 {
        right: auto;
        left: 100%;;
    }

    .xsmall-pull-12 {
        right: 100%;
        left: auto;
    }

    .xsmall-centered {
        float: none;
        margin-right: auto;
        margin-left: auto;;
    }

    .xsmall-uncentered {
        margin-right: 0;
        margin-left: 0;;
    }

    .xsmall-last {
        float: right;
    }

    .xsmall-notlast {
        float: left;
    }
}

/*------------------------------------

Reset

------------------------------------*/

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    min-width: 320px;
    background-color: #fff;
}

body,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
    margin: 0;
    padding: 0;
}

pre,
code,
address,
caption,
th,
figcaption {
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
}

fieldset,
iframe,
img {
    border: 0;
}

caption,
th {
    text-align: left;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

article,
aside,
footer,
header,
nav,
main,
section,
summary,
details,
hgroup,
figure,
figcaption {
    display: block;
}

audio,
canvas,
video,
progress {
    display: inline-block;
    vertical-align: baseline;
}

button {
    overflow: visible;
    box-sizing: content-box;
    border: 0;
    color: inherit;
    background: none;
    font: inherit;
    line-height: inherit;
    vertical-align: inherit;
    cursor: pointer;
}
button:disabled {
    cursor: default;
}


a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none outside;
}

ol {
    list-style: decimal;
}

body,
input,
textarea,
select,
button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;

    font-synthesis: none;
    -moz-font-feature-settings: "kern";
    direction: ltr;
}



body,
button,
input,
select,
optgroup,
textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
}

body {
    min-width: 320px;
    color: #0b0c0c;
}


input,
input:focus,
button,
button:focus,
button:active,
textarea:focus {
    border: 0 none;
    outline: 0 none;
    color: inherit;
    background: 0 0;
    font: inherit;
}







body:after {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    padding: 5px 10px;
    color: black;
    background: yellow;
    font-size: 12px;
    content: "large";
}

@media only screen and (min-width: 1442px) {
    body:after {
        color: white;
        background: red;
        content: "x-large >= 1442px";
    }
}

@media only screen and (max-width: 1068px) {
    body:after {
        color: white;
        background: green;
        content: "medium <= 1068px";
    }
}

@media only screen and (max-width: 735px) {
    body:after {
        color: white;
        background: blue;
        content: "small <= 735px";
    }
}






/* DEBUG LAYOUT - OUTLINES AROUND EVERYTHING */
/* * {
    outline: 1px solid rgba(255,0,0,0.1);
} */


.section {
    overflow: hidden;
    position: relative;
}

.section-content {
    /* width: 980px; */
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 1068px) {
    .section-content {
        width: 692px;
    }
}

@media only screen and (max-width: 735px) {
    .section-content {
        width: 90%;
    }
}


.viewport-content {
    /* max-width: 980px; */
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 1068px) {
    .viewport-content {
        /* TODO: re-examine scaling down viewport to tablet and small size screens
        without text overflowing with orphans */
        /* width: 87.5%;  */
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 735px) {
    .viewport-content {
        width: 100%;
    }
}

.section-headline {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
}

@media only screen and (max-width: 735px) {
    .section-headline {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 36px;
    }
}


.button.more {
    display: block;
    max-width: 238px;
    min-height: 50px;
    border: 2px solid #000;
    color: #000;
    font-size: 19px;
    line-height: 50px;
    text-align: center;
    white-space: nowrap;
}

@media only screen and (max-width: 735px) {
    .button.more {
        width: auto;
        min-width: 190px;
        max-width: 238px;
        min-height: 40px;
        font-size: 17px;
        line-height: 40px;
    }
}


.section-hero {
    position: relative;
    height: 582px;
}

@media only screen and (max-width: 1068px) {
    .section-hero {
        max-height: 508px;
    }
}



.section-hero .section-background-image {
    position: absolute;
    z-index: 0;
    left: 50%;
    width: 1200px;
    height: 582px;
    margin-left: -600px;
    background-image: url("img/Birmingham_New_Street_at_dusk.png");
    background-size: 1200px 582px;
}

.section-hero .section-background-image:after {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(0,3,7,0.87) 0%, rgba(30,66,138,0) 100%);
    content: " ";
    transform: scaleX(-1);
}

@media only screen and (max-width: 1068px) {
    .section-hero .section-background-image {
        width: 1068px;
        height: 509px;
        margin-left: -534px;
        background-size: 1068px 509px;
    }
}

@media only screen and (max-width: 735px) {
    .section-hero .section-background-image {
        width: 736px;
        height: 510px;
        margin-left: -368px;
        background-size: 736px 510px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section-hero .section-background-image {
        background-image: url("img/Birmingham_New_Street_at_dusk.png"); /* hero_large_2x.jpg */
    }
}

@media only screen and (max-width: 1068px) {
    .section-hero .section-background-image {
        background-image: url("img/Birmingham_New_Street_at_dusk.png"); /* hero_medium.jpg */
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-hero .section-background-image {
        background-image: url("img/Birmingham_New_Street_at_dusk.png"); /* hero_medium_2x.jpg */
    }
}

@media only screen and (max-width: 735px) {
    .section-hero .section-background-image {
        background-image: url("img/Birmingham_New_Street_at_dusk.png"); /* hero_small.jpg */
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .section-hero .section-background-image {
        background-image: url("img/Birmingham_New_Street_at_dusk.png"); /* hero_small_2x.jpg */
    }
}


.section-hero .content-wrapper {
    z-index: 10;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.section-hero .section-content {
    width: auto;
    padding: 150px 100px 66px 100px;
}

@media only screen and (max-width: 1068px) {
    .section-hero .section-content {
        width: 90%;
        padding: 100px 0 80px 0;
    }
}

@media only screen and (max-width: 735px) {
    .section-hero .section-content {
        width: 90%;
        padding: 70px 0 40px 0;
    }
}

.section-hero .section-headline {
    max-width: 655px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    font-size: 64px;
    font-weight: bold;
    line-height: 75px;
}

@media only screen and (max-width: 1068px) {
    .section-hero .section-headline {
        font-size: 42px;
        line-height: 48px;
    }
}

@media only screen and (max-width: 735px) {
    .section-hero .section-headline {
        font-size: 36px;
        line-height: 40px;
    }
}

.section-hero .intro {
    max-width: 655px;
    margin-bottom: 50px;
    color: #fff;
    font-size: 19px;
    line-height: 28px;
}


@media only screen and (max-width: 1068px) {
    .section-hero .intro {
        max-width: 430px;
        font-size: 17px;
        line-height: 27px;
    }
}

@media only screen and (max-width: 735px) {
    .section-hero .section-headline {
        max-width: none;
    }

    .section-hero .intro {
        max-width: none;
        margin-bottom: 30px;
    }
}

.section-hero .button.more {
    display: block;
    width: 238px;
    height: 50px;
    border-color: #fff;
    color: #0694a7;
    background-color: #fff;
    font-size: 19px;
    line-height: 50px;
    text-align: center;
    white-space: nowrap;
}


@media only screen and (max-width: 735px) {
    .section-hero .button.more {
        max-width: 238px;
        height: 40px;
        margin-right: auto;
        margin-left: auto;
        font-size: 17px;
        line-height: 40px;
    }
}





.section-about-jsarc .content-wrapper {
    z-index: 10;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #0694a7;
}

.section-about-jsarc .section-content {
    width: auto;
    padding: 73px 100px 100px 100px;
}

@media only screen and (max-width: 1068px) {
    .section-about-jsarc .section-content {
        width: 90%;
        padding: 40px 0;
    }
}

@media only screen and (max-width: 735px) {
    .section-about-jsarc .section-content {
        text-align: center;
    }
}


.section-about-jsarc .section-headline {
    max-width: 655px;
    margin-bottom: 40px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
}

@media only screen and (max-width: 1068px) {
    .section-about-jsarc .section-headline {
        font-size: 27px;
        line-height: 36px;
    }
}

.section-about-jsarc .about-jsarc-text {
    max-width: 700px;
    margin-bottom: 28px;
    color: #fff;
    font-size: 19px;
    line-height: 28px;
    text-align: left;
}

@media only screen and (max-width: 1068px) {
    .section-about-jsarc .about-jsarc-text {
        font-size: 17px;
        line-height: 27px;
    }
}

.section-about-jsarc .button.more {
    max-width: 265px;
    margin-top: 58px;
    border-color: #fff;
    color: #fff;
}

@media only screen and (max-width: 735px) {
    .section-about-jsarc .button.more {
        margin-right: auto;
        margin-left: auto;
    }
}




.section-video {
    position: relative;
}

.section-video .section-background-image {
    position: absolute;
    min-width: 1200px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    background-color: #000;
    background-image: url("img/section-video-bg.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

@media only screen and (max-width: 1068px) {
    .section-video .section-background-image {
        background-position: -100px auto;
    }
}


@media only screen and (max-width: 735px) {
    .section-video .section-background-image {
        height: 200px;
        margin-right: auto;
        margin-left: auto;
    }
}

.section-video .section-background-image:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 50%, rgba(0, 0, 0, 1) 66%);
    content: "  ";
}

@media only screen and (max-width: 1068px) {
    .section-video .section-background-image:after {
        background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 35%, rgba(0, 0, 0, 1) 66%);
    }
}

@media only screen and (max-width: 735px) {
    .section-video .section-background-image:after {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 90%);
    }
}

.section-video .section-content {
    width: auto;
    padding: 100px 100px 56px 100px;
}

@media only screen and (max-width: 1068px) {
    .section-video .section-content {
        width: 90%;
        padding: 40px 0 40px 0;
    }
}

@media only screen and (max-width: 735px) {
    .section-video .section-content {
        width: auto;
        padding: 230px 5% 40px 5%;
        background-color: #000;
    }
}

.section-video .content-wrapper {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.section-video .section-headline {
    margin-bottom: 10px;
    color: #fff;
    font-size: 36px;
    font-weight: normal;
    line-height: 42px;
}


@media only screen and (max-width: 1068px) {
    .section-video .section-headline {
        font-size: 27px;
        line-height: 36px;
    }
}
@media only screen and (max-width: 735px) {
    .section-video .section-headline {
        font-size: 27px;
        line-height: 36px;
        text-align: center;
    }
}

.section-video .speaker {
    margin-bottom: 54px;
    color: #fff;
    font-size: 20px;
    line-height: 42px;
}

@media only screen and (max-width: 1068px) {
    .section-video .speaker {
        margin-bottom: 40px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 735px) {
    .section-video .speaker {
        font-size: 17px;
        text-align: center;
    }
}

.section-video .button.more {
    border-color: #fff;
    color: #fff;
}

@media only screen and (max-width: 735px) {
    .section-video .button.more {
        margin-right: auto;
        margin-left: auto;
    }
}






.section-benefits {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #e3e3e3;
}

.section-benefits .section-content {
    padding-top: 71px;
    padding-bottom: 100px;
}

@media only screen and (max-width: 735px) {
    .section-benefits .section-content {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.section-benefits .media-block {
    position: relative;
    margin-bottom: 50px;
    background-color: #fff;
}

@media only screen and (max-width: 735px) {
    .section-benefits .media-block {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}


.section-benefits .media-block__text-content {
    box-sizing: border-box;
    height: 500px;
    margin-right: 400px;
    padding: 90px 50px 0;
}


@media only screen and (max-width: 1068px) {
    .section-benefits .media-block__text-content {
        height: 450px;
        margin-right: 300px;
        padding: 50px 30px 0;
    }
}

@media only screen and (max-width: 735px) {
    .section-benefits .media-block__text-content {
        height: auto;
        margin-right: 0;
        padding: 30px 30px;
    }
}


.section-benefits .benefits-image-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 500px;
    background-image: url(img/media-block1.png);
    background-size: 400px 500px;
}

@media only screen and (max-width: 1068px) {
    .section-benefits .benefits-image-1 {
        width: 300px;
        height: 450px;
        background-size: 300px 450px;
    }
}


@media only screen and (max-width: 735px) {
    .section-benefits .benefits-image-1 {
        position: relative;
        left: 0;
        width: 100%;
        height: auto;
        padding-bottom: 60%;
        background-size: 100% auto;
    }
}


.section-benefits .media-block--image-left .media-block__text-content {
    box-sizing: border-box;
    max-width: 580px;
    height: 500px;
    margin-right: 0;
    margin-left: 400px;
    padding: 90px 50px 0;
}


@media only screen and (max-width: 1068px) {
    .section-benefits .media-block--image-left .media-block__text-content {
        height: 450px;
        margin-left: 300px;
        padding: 50px 30px 50px 30px;
    }
}

@media only screen and (max-width: 735px) {
    .section-benefits .media-block--image-left .media-block__text-content {
        height: auto;
        margin-left: 0;
        padding: 30px 30px;
    }
}


.section-benefits .benefits-image-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 500px;
    background-image: url(img/media-block2.png);
    background-size: 400px 500px;
}

@media only screen and (max-width: 1068px) {
    .section-benefits .benefits-image-2 {
        width: 300px;
        height: 450px;
        background-size: 300px 450px;
    }
}


@media only screen and (max-width: 735px) {
    .section-benefits .benefits-image-2 {
        position: relative;
        left: 0;
        width: 100%;
        height: auto;
        padding-bottom: 60%;
        background-size: 100% auto;
    }
}

.section-benefits .section-headline {
    margin-bottom: 63px;
    color: #0c0b0b;
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
}

@media only screen and (max-width: 1068px) {
    .section-benefits .section-headline {
        margin-bottom: 40px;
        font-size: 27px;
        line-height: 36px;
    }
}

.section-benefits .media-block__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}



.section-benefits .media-block__text {
    font-size: 18px;
    line-height: 28px;
}

.section-benefits .media-block__read-more-link {
    display: block;
    margin-top: 20px;
    color: #1e4289;
    font-size: 19px;
    font-style: oblique;
    line-height: 28px;
    cursor: pointer;
}

.section-benefits .media-block__read-more-link:hover {
    text-decoration: underline;
}

.section-benefits .media-block__read-more-link:after {
    display: inline-block;
    width: 29px;
    height: 12px;
    margin-left: 5px;
    background-image: url(../img/arrow-right-blue.svg);
    background-repeat: no-repeat;
    background-position: 0 1px;
    background-size: 19px 11px;
    content: "";
    transition: background 0.2s ease-out;
}

.section-benefits .media-block__read-more-link:hover:after {
    background-position: 80% 1px;
}








.section-contact-us {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #e3e3e3;
}

.section-contact-us .content-wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-height: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #07a7e1;
}
.section-contact-us .content-wrapper:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: linear-gradient(90deg, rgba(7,7,7,0) 0%, rgba(255,255,255,0.1) 100%);
    content: " ";
    transform: scaleX(-1);
}

.section-contact-us .section-content {
    width: 90%;
    padding: 40px 0 40px 80px;
}

@media only screen and (max-width: 1068px) {
    .section-contact-us .section-content {
        padding: 60px 0 60px 0;
    }
}

.section-contact-us .contact-us-text {
    color: #fff;
    font-family: Helvetica;
    font-size: 19px;
    line-height: 28px;
}

.section-contact-us .button-contact-us {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border-color: white;
    color: #0694a7;
    background-color: white;
    cursor: pointer;
}

@media only screen and (max-width: 1068px) {
    .section-contact-us .button-contact-us {
        margin-top: 40px;
    }
}




.section-innovation-call {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #e3e3e3;
}

.section-innovation-call .content-wrapper {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    background-image: url("img/innovation-image.png");
    background-repeat: no-repeat;
    background-position: 80% 35%;
    background-size: 191px 286px;
}

@media only screen and (max-width: 735px) {
    .section-innovation-call .content-wrapper {
        background-image: none; /* TODO: how to handle this image on mobile */
    }
}

.section-innovation-call .section-content {
    width: auto;
    padding: 73px 100px 100px 100px;
}

@media only screen and (max-width: 1068px) {
    .section-innovation-call .section-content {
        width: 90%;
        padding: 40px 0;
    }
}

@media only screen and (max-width: 735px) {
    .section-innovation-call .section-content {
        text-align: center;
    }
}


.section-innovation-call .section-headline {
    max-width: 655px;
    margin-bottom: 40px;
    color: #0c0b0b;
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
}

@media only screen and (max-width: 1068px) {
    .section-innovation-call .section-headline {
        font-size: 27px;
        line-height: 36px;
    }
}

.section-innovation-call .about-jsarc-text {
    margin-bottom: 28px;
    color: #0c0b0b;
    font-size: 19px;
    line-height: 28px;
    text-align: left;
}

.section-innovation-call .button.more {
    margin-top: 58px;
    border-color: #07a7e1;
    color: #fff;
    background-color: #07a7e1;
}

@media only screen and (max-width: 735px) {
    .section-innovation-call .button.more {
        margin-right: auto;
        margin-left: auto;
    }
}


.section-pilot-scheme {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #e3e3e3;
}

.section-pilot-scheme .section-background-image {
    position: absolute;
    left: 50%;
    width: 1200px;
    height: 400px;
    margin-left: -600px;
    background-image: url("img/london-britain-london-eye-sky-161762_dark.jpg");
    background-size: 1200px 400px;
}

.section-pilot-scheme .section-background-image:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0.6) 80%, rgba(0, 0, 0, 0.7) 90%);
    content: "  ";
}

@media only screen and (max-width: 1068px) {
    .section-pilot-scheme .section-background-image {
        width: 1068px;
        height: 356px;
        margin-left: -534px;
        background-size: 1068px 356px;
    }
}

@media only screen and (max-width: 735px) {
    .section-pilot-scheme .section-background-image {
        width: 1068px;
        height: 100%;
        margin-left: -534px;
        background-size: cover;
    }
}



.section-pilot-scheme .section-content {
    max-width: 1000px;
    min-height: 400px;
}

@media only screen and (max-width: 1068px) {
    .section-pilot-scheme .section-content {
        /* min-height: 420px; */
    }
}

@media only screen and (max-width: 735px) {
    .section-pilot-scheme .section-content {
        min-height: 380px;
    }
}



.section-pilot-scheme .section-headline {
    margin-top: 124px;
    margin-bottom: 52px;
    color: #fff;
}


@media only screen and (max-width: 1068px) {
    .section-pilot-scheme .section-headline {
        margin-top: 80px;
        margin-bottom: 60px;
        font-size: 27px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 735px) {
    .section-pilot-scheme .section-headline {
        margin-top: 80px;
        margin-bottom: 75px;
        text-align: center;
    }
}

.section-pilot-scheme .button.more {
    border-color: #fff;
    color: #fff;
}

@media only screen and (max-width: 735px) {
    .section-pilot-scheme .button.more {
        margin-right: auto;
        margin-left: auto;
    }
}









.section-projects {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #e3e3e3;
}

.section-projects  .section-content {
    width: auto;
    max-width: 1000px;
    padding: 67px 0;
}

@media only screen and (max-width: 1068px) {
    .section-projects  .section-content {
        /* width: 650px; */
        width: 96%;
        padding: 40px 0;
    }
}

@media only screen and (max-width: 735px) {
    .section-projects  .section-content {
        width: 90%;
    }
}


.section-projects .projects-3up__item {
    display: inline-block;
    width: 300px;
    min-height: 400px;
    margin-bottom: 50px;
    vertical-align: top;
}

@media only screen and (max-width: 1068px) {
    .section-projects .projects-3up__item {
        width: 31%;
    }

    .section-projects .projects-3up__item:first-child {
        margin-left: 1%;
    }
}
@media only screen and (max-width: 735px) {
    .section-projects .projects-3up__item {
        width: 280px;
    }

    .section-projects .projects-3up__item:first-child {
        margin-left: auto;
    }
}

.section-projects .projects-3up__item:not(:last-child) {
    margin-right: 4.5%;
}

@media only screen and (max-width: 1068px) {
    .section-projects .projects-3up__item:not(:last-child) {
        margin-right: 2%;
    }
}

@media only screen and (max-width: 735px) {
    .section-projects .projects-3up__item {
        display: block;
        clear: both;
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
    }
    .section-projects .projects-3up__item:not(:last-child) {
        margin-right: auto !important;
    }

    .section-projects .projects-3up__item:last-child {
        margin-bottom: 40px;
    }
}

.section-projects .projects-3up__image {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 63%;
    background-image: url("https://via.placeholder.com/300x190");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.section-projects .projects-3up__content-wrapper {
    min-height: 313px;
    padding: 30px;
    background-color: white;
}

@media only screen and (max-width: 1068px) {
    .section-projects .projects-3up__content-wrapper {
        min-height: 338px;
        padding: 20px;
    }
}

@media only screen and (max-width: 735px) {
    .section-projects .projects-3up__content-wrapper {
        min-height: auto;
    }
}


.section-projects .projects-3up__heading {
    margin-bottom: 15px;
    color: #982d46;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}

@media only screen and (max-width: 1068px) {
    .section-projects .projects-3up__heading {
        font-size: 20px;
        line-height: 28px;
    }
}

.section-projects .projects-3up__text {
    font-size: 19px;
    line-height: 24px;
}

@media only screen and (max-width: 1068px) {
    .section-projects .projects-3up__text {
        font-size: 16px;
        line-height: 22px;
    }
}


.section-projects .projects-3up__read-more-link {
    display: block;
    margin-top: 30px;
    color: #1e4289;
    font-size: 19px;
    font-style: oblique;
    line-height: 28px;
    cursor: pointer;
}

@media only screen and (max-width: 1068px) {
    .section-projects .projects-3up__read-more-link {
        font-size: 17px;
        line-height: 27px;
    }
}

.section-projects .projects-3up__read-more-link:hover {
    text-decoration: underline;
}

.section-projects .projects-3up__read-more-link:after {
    display: inline-block;
    width: 29px;
    height: 12px;
    margin-left: 5px;
    background-image: url(../img/arrow-right-blue.svg);
    background-repeat: no-repeat;
    background-position: 0 1px;
    background-size: 19px 11px;
    content: "";
    transition: background 0.2s ease-out;
}


.section-projects .projects-3up__read-more-link:hover:after {
    background-position: 80% 1px;
}



.section-projects .see-all-projects-button {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
}


.section-register {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #e3e3e3;
}

.section-register .content-wrapper {
    width: 100%;
    max-width: 1200px;
    min-height: 308px;
    margin-right: auto;
    margin-left: auto;
    background-color: #982d46;
}

.section-register .section-content {
    width: auto;
    padding: 66px 50px;
}

@media only screen and (max-width: 1068px) {
    .section-register .section-content {
        width: 90%;
        padding: 40px 0;
    }
}


.section-register .register {
    margin-bottom: 40px;
}


.section-register .register .headline {
    margin-bottom: 57px;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    font-style: oblique;
    line-height: 42px;
}

@media only screen and (max-width: 735px) {
    .section-register .register .headline {
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 36px;
    }
}

.section-register .register-form {
    padding-left: 20px;
}

@media only screen and (max-width: 735px) {
    .section-register .register-form {
        padding-left: 0;
    }
}

.section-register .register-input {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 50px;
    background: transparent;
    vertical-align: top;
}

@media only screen and (max-width: 1068px) {
    .section-register .register-input {
        width: 280px;
    }
}

@media only screen and (max-width: 735px) {
    .section-register .register-input {
        width: 200px;
        height: 40px;
        margin-left: 0;
    }
}

.section-register .register-input__text-field {
    /* display: block; */
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 0 5px 0 5px;
    border-bottom: solid 2px #fff;
    border-radius: 0;
    color: #fff;
    font-size: 19px;
    line-height: 42px;
}

@media only screen and (max-width: 735px) {
    .section-register .register-input__text-field {
        height: 40px;
        font-size: 17px;
        line-height: 27px;
    }
}

.section-register .register-input__text-field:hover {
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;
    transition: 0.2s ease;
}

.section-register .register-input__text-field:focus {
    border-bottom: solid 3px rgba(0,0,0,0.5);
    background-color: rgba(255,255,255, 0.2);
}

.section-register .register-input__text-field:focus ~ label,
.section-register .register-input__text-field.active ~ label {
    transition: transform 0.3s;
    transform: scale(0.8) translateY(-50px);
    transform-origin: 0 0;
}

@media only screen and (max-width: 735px) {
    .section-register .register-input__text-field:focus ~ label,
    .section-register .register-input__text-field.active ~ label {
        transform: scale(0.8) translateY(-30px);
    }
}

.section-register .register-input__label {
    /* display: block; */
    position: absolute;
    height: 50px;
    margin-bottom: 0;
    color: #fff;
    font-size: 19px;
    line-height: 50px;
    pointer-events: none;
}

@media only screen and (max-width: 735px) {
    .section-register .register-input__label {
        height: 40px;
        margin-right: auto;
        margin-bottom: 40px;
        margin-left: 0;
        font-size: 17px;
        line-height: 40px;
    }
}


.section-register .register-submit-button {
    display: inline-block;
    width: 80px;
    height: 50px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    color: transparent;
    /* background-color: rgba(255,255,255,0.1); */
    background-image: url("img/large-arrow-right--white.svg");
    background-repeat: no-repeat;
    background-position: center 5px;
    background-size: 100% 100%;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}

.section-register .register-submit-button:hover {
    background-color: rgba(255,255,255,0.1);
    transition: 0.2s ease;
}

.section-register .register-submit-button:focus {
    border: solid 2px #fff;
    border-bottom: solid 3px #fff;
    transition: 0.2s ease;
}

@media only screen and (max-width: 735px) {
    .section-register .register-submit-button {
        height: 40px;
        margin-right: auto;
        margin-bottom: 40px;
        margin-left: 0;
        line-height: 40px;
    }
}






.section-register .social .headline {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    font-style: oblique;
    line-height: 42px;
}

@media only screen and (max-width: 735px) {
    .section-register .social .headline {
        line-height: 32px;
    }
}


.section-register .social-icons {
    padding-left: 20px;
}

@media only screen and (max-width: 735px) {
    .section-register .social-icons {
        margin-top: 20px;
        padding-left: 0;
    }
}
.section-register .menu-item {
    float: left;
}

.section-register .social-icons .icon {
    display: block;
    width: 36px;
    height: 36px;
    margin-right: 40px;
    border-radius: 50%;
    color: rgba(255,255,255,0);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

@media only screen and (max-width: 1068px) {
    .section-register .social-icons .icon {
        width: 30px;
        height: 30px;
    }
}



.section-register .icon.twitter {
    background-image: url("img/icon-twitter.svg");
}

.section-register .icon.youtube {
    background-image: url("img/icon-youtube.svg");
}

.section-register .icon.facebook {
    background-image: url("img/icon-facebook.svg");
}



@media only screen and (max-width: 1068px) {
    .section-footer {
        background-color: #e3e3e3;
    }
}

.section-footer .section-content {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    min-height: 308px;
    margin-right: auto;
    margin-left: auto;
    padding: 66px 50px;
    background-color: #e3e3e3;
}

@media only screen and (max-width: 1068px) {
    .section-footer .section-content {
        width: 90%;
        padding: 40px 0;
    }
}

.section-footer .menu-item {
    font-size: 19px;
    line-height: 42px;
}

@media only screen and (max-width: 1068px) {
    .section-footer .menu-item {
        margin-bottom: 20px;
        font-size: 17px;
        line-height: 27px;
    }
}


.section-footer .organisation-logo {
    width: 187px;
    height: 80px;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    background-image: url("img/home-office-logo.png");
    background-size: 100% auto;
}


@media only screen and (max-width: 735px) {
    .section-footer .organisation-logo {
        margin-top: 40px;
        margin-right: auto;
        margin-left: 0;
    }
}
